.row-footer {
   margin: 50px auto;
}

.header {
   text-align: center;
   background-image: url(../images/background.jpg);
   background-position: top;
   padding: 100px 0px 0px 0px;
}

.navbar-default {
   border-radius: 0px;
}
