body {
   background-color: #f6e691;
}

a:link, a:visited {
   color: #019879;
}

a:hover, a:active {
   color: #007966;
   text-decoration: none;
}

.header {
   color: #ffc621;
   font-family: Arial, sans-serif;
   text-align: center;
   background-image: url(../images/background.jpg);
   background-position: bottom;
   padding: 100px 0px 0px 0px;
}

.row-footer {
   background-color: #c8f7c5;
   padding: 20px;
   margin: 50px auto;
}

.navbar-default {
   border-radius: 0px;
}

.no-bullets {
   list-style: none;
}
