<div class="row">
   <div class="col-md-12">
      <ol class="breadcrumb">
         <li><a href="http://rgf.drohobych.net">Інститут іноземних мов</a></li>
         <li><a href="http://rgf.drohobych.net/content/kaf-germ">Кафедра германських мов і перекладознавства</a></li>
         <li class="active">Електронний навчальний ресурс</li>
      </ol>

   <br>
        <p><strong>Навчальний план</strong></p>
   		<ul>
   			<li><a href="images/first.jpg">the first page</a></li>
   			<li><a href="images/second.jpg">the second page</a></li>
   			<li><a href="images/third.jpg">the third page</a></li>
   		</ul>
   <br>
   	  <p><strong>Oсвітньо-професійний план</a></strong></p>
   		<ul>
   			<li><a href="images/opp.jpg">Освітньо-професійна програма (титульна)</a></li>
   			<li><a href="files/opp.docx">Освітньо-професійна програма (текст)</a></li>
   		</ul>
   <br>
   <p><strong><a href="files/anotazia.docx">Анотації дисциплін</a></strong></p>
   <br>
   	 <p><strong>Навчально-методичне забезпечення</strong></p>
   	 <li>
   			<div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Загальне мовознавство
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/kocherhan.doc">М.П.Кочерган.Загальне мовознавство</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/shpitko.doc">І.М.Шпітко.Загальне мовознавство</a></li>
   				</ul>
   			</div>
   	  </li>
   <br>
   	  <li>
   			<div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Інформаційні технології у перекладі
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/piven.doc">Н.М.Півень.Основи машинного перекладу</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/hurevych.pdf">Р.С.Гуревич.Інформаційні технології навчання: інноваційний підхід</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/buinytska.pdf">О.П.Буйницька.Інформаційні технології та технічні засоби навчання</a></li>
   				</ul>
   			</div>
   	  </li>
   <br>
   		<li>
   			<div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
       Методика викладання іноземних мов та перекладу у ВНЗ
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/lecture.doc">Лекції</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/karaban.pdf">Карабан В.І.Граматичні труднощі</a></li>
     					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/kalinina.pdf">Калініна Л.В.Професійно-методична підготовка майбутнього вчителя іноземної мови у вищому навчальному</a></li>
   				</ul>
   			</div>
   		</li>
   <br>
   		<li>
   			<div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Методологія лінгвістичних і перекладознавчих досліджень
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/kyak.pdf">Кияк Т.Р.Перекладознавство</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/konversky.pdf">Конверський А.Є. Основи методології</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/martynuk.pdf">Мартинюк А.П. Основи наукових досліджень у лінгвістиці</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/moseychuk.doc">Мосейчук О.М. Методи проведення лінгвістичних досліджень</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/presention.pptx">Презентація. Методологія лінгвістичного дослідження</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/fedorenko.pgf">Сухорольська С., Федоренко О. Методи лінгвістичних досліджень</a></li>
   				</ul>
   			</div>
   	  </li>
   <br>
   		<li>
   			<div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Основи герменевтики
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/gadamer.pdf">Х.-Г.Гадамер.Истина и метод</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/hermeneutics.pdf">С.Квіт.Герменевтика стилю</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/lyapushkina.doc">Ляпушкина Е.И.Введение в герменевтику</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/osnovu_hermenevtyky.pgf">С.Квіт.Основи герменевтики</a></li>
   				</ul>
   			</div>
   	  </li>
   <br>
         <li>
   			<div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
     Охорона праці в галузі
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/ohorona_pratsi.pdf">Т.Ю.Кепич.Охорона праці в галузі</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/op_v_haluzi.pdf">Д.В.Зеркалов.Охорона праці в галузі</a></li>
   				</ul>
   			</div>
   	  </li>
   <br>
   	 <li>
   			<div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Педагогіка і психологія
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/kudina.doc">Кудіна В.В.Педагогіка вищої школи</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/ortynsky.pdf">В.Л.Ортинський.Педагогіка вищої школи</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/horodyska.pdf">В.Городиська.Педагогіка та психологія вищої школи</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/tytarenko.doc">Титаренко.Сучасна психологія особистості</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/nychkalo.doc">Ничкало Н.Г.Сучасна вища школа</a></li>
   				</ul>
   			</div>
   	  </li>
   <br>
         <li>
   			<div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Правові основи діяльності перекладача та викладача ВШ
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/kozak.pdf">Козак Л.В.Методологічні засади</a></li>
   				</ul>
   			</div>
   	  </li>
   <br>
          <li>
   			<div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Проблеми міжкультурної комунікації і перекладу
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/denysuk.pdf">С.Г.Денисюк.Комунікологія</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/kovalynska.pdf">І.Ковалинська.Невербальна комунікація</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/nikolaeva.pdf">С.Ю.Ніколаєва.Методика навчання іноземних мов і культур</a></li>
   				</ul>
   			</div>
   	  </li>
   <br>
         <li>
   			<div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Риторика
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/kolotilova1.pdf">Н.А.Колотілова.Риторика1</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/kolotilova2.pdf">Н.А.Колотілова.Риторика2</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/mazko.pdf">Л.І.Мацько.Риторика</a></li>
   				</ul>
   			</div>
   	  </li>
   <br>
          <li>
   			<div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Теорія перекладу
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/voronina1.pdf">К.В.Вороніна.Основи перекладацького анатування та реферування</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/rebri.pdf">О.В.Ребрій. Сучасні концепції творчості у перекладі</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/voronina2.pdf">К.В.Вороніна.Ділова кореспонденція та її переклад</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/lytvyn.pdf">І.Литвин Перекладознавство</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/olkhovska.pdf">А.С.Ольховська.Посібник для навчання майбутніх філологів</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/korunez.doc">І.В.Корунець. Теорія і практика перекладу</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/komisarov.doc">В.Н.Комиссаров.Теория перевода</a></li>
   				</ul>
   			</div>
   	  </li>
   <br>
   	  <li>
   			<div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Філософія науки
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/nikiforov.doc">А.Л.Никифоров.Философия науки: история и методология</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/mikeshina.pdf">Л.А.Микешина.Философия науки</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/lebedev.pdf">С.А.Лебедев.Философия науки</a></li>
   				</ul>
   			</div>
   	  </li>
   <br>
   </div>
</div>
