<ol class="breadcrumb">
         <li><a href="http://rgf.drohobych.net">Інститут іноземних мов</a></li>
         <li><a href="http://rgf.drohobych.net/content/kaf-germ">Кафедра германських мов і перекладознавства</a></li>
         <li class="active">Електронний навчальний ресурс</li>
      </ol>
<div class="row">
  <div class="col-sm-6 col-md-6">
   <div class="thumbnail">
       <div class="caption">
        <h3>Описи навчальних дисциплін</h3>
        <div class="row">
   <div class="col-md-12">
   <br>
            
        <p><strong>Перший (бакалаврський) рівень вищої освіти</strong></p>
   <br>
   <p><strong><a href="files/perelik_bakalavr.docx">Перелік дисциплін</a></strong></p>
   <br>
   <p>Спеціальність: 014 Середня освіта (Мова і література (англійська))</p>		
            <ul>
                     <li><a href="files/1.1.pdf">1.1.	Вступ до германського мовознавства</a></li>
   		   <li><a href="files/1.2.pdf">1.2.	Iсторiя мови</a></li>
   		   <li><a href="files/1.3.pdf">1.3.	Країнознавство країн осн.iноз.мови</a></li>
                     <li><a href="files/1.4.pdf">1.4.	Стилiстика</a></li>
                     <li><a href="files/1.5.pdf">1.5.	Теоретична граматика</a></li>
                     <li><a href="files/1.6.pdf">1.6.	Теоретична фонетика</a></li>
                     <li><a href="files/1.7.pdf">1.7.	Лексикологiя</a></li>
                     <li><a href="files/1.8.pdf">1.8.	Теорiя i практика перекладу</a></li>
                     <li><a href="files/1.9.pdf">1.9.	Інтерпретація тексту </a></li>
                     <li><a href="files/1.10.pdf">1.10. Педагогічна практика</a></li>
            </ul>
    <p>Спеціальність: 014 Середня освіта (Мова і література (німецька))</p>		
            <ul>
                     <li><a href="files/2.1.pdf">2.1.	Вступ до германського мовознавства</a></li>
   		   <li><a href="files/2.2.pdf">2.2.	Країнознавство країн осн.iноз.мови</a></li>
   		   <li><a href="files/2.3.pdf">2.3.	Стилiстика</a></li>
                     <li><a href="files/2.4.pdf">2.4.	Теорiя i практика перекладу</a></li>
                     <li><a href="files/2.5.pdf">2.5.	Інтерпретація тексту (німецька)</a></li>
           </ul>
   <p>Спеціальність: 014 Середня освіта (Мова і література (французька))</p>		
            <ul>
                     <li><a href="files/3.1.pdf">3.1.	Теорiя i практика перекладу </a></li>
            </ul>
   <p>Спеціальність: 035 Філологія (Англійська, українська. Переклад)</p>		
            <ul>
                     <li><a href="files/4.1.pdf">4.1.	Iсторiя літератури країни основної іноземної мови</a></li>
   		   <li><a href="files/4.2.pdf">4.2.	Iсторiя перекладу</a></li>
   		   <li><a href="files/4.3.pdf">4.3.	Контрастивна граматика</a></li>
                     <li><a href="files/4.4.pdf">4.4.	Лінгвокраїнознавство країни основної іноземної мови</a></li>
                     <li><a href="files/4.5.pdf">4.5.	Переклад ділового мовлення</a></li>
                     <li><a href="files/4.6.pdf">4.6.	Практика перекладу з основної iноземної мови</a></li>
   		   <li><a href="files/4.7.pdf">4.7.	Теорiя перекладу</a></li>
   		   <li><a href="files/4.8.pdf">4.8.	Компютерна обробка текстів</a></li>
                     <li><a href="files/4.9.pdf">4.9.	Iсторiя основної iноземної мови</a></li>
                     <li><a href="files/4.10.pdf">4.10. Основи редагування перекладу</a></li>
                     <li><a href="files/4.11.pdf">4.11. Українська література  у світовому контексті</a></li>
                     <li><a href="files/4.12.pdf">4.12. Вступ до перекладознавства</a></li>
                     <li><a href="files/4.13.pdf">4.13. Переклад науково-технiчної лiтератури</a></li>
                     <li><a href="files/4.14.pdf">4.14. Основи лексикографії</a></li>
                     <li><a href="files/4.15.pdf">4.15. Основи перекладацького скоропису</a></li>
                     <li><a href="files/4.16.pdf">4.16. Порiвняльна лексикологія</a></li>
                     <li><a href="files/4.17.pdf">4.17. Курсова робота з філології</a></li>
                     <li><a href="files/4.18.pdf">4.18. Перекладацька практика</a></li>
           </ul>
         <br>
   	  <p><strong>Другий (магістерський) рівень вищої освіти</strong></p>
   	<br>
   <p><strong><a href="files/perelik_mahistr.docx">Перелік дисциплін</a></strong></p>
   <br>	
            
   <p>Спеціальність: 014 Середня освіта (Мова і література (англійська))<br>
Спеціалізація:  014.02 Середня освіта (Мова і література (німецька/французька/польська))</p>
            <ul>
   		   <li><a href="files/1.1m.pdf">1.1	Порівняльно-історичне і типологічне мовознавство</a></li>
   		   <li><a href="files/1.2m.pdf">1.2	Загальнотеоретичний курс другої ІМ (німецька)</a></li>
   		   <li><a href="files/1.3m.pdf">1.3	Країнознавство країни другої ІМ (німецька)</a></li>
                     <li><a href="files/1.4m.pdf">1.4	Культура усного та писемного мовлення першої ІМ (англійська)</a></li>
                     <li><a href="files/1.5m.pdf">1.5	Порівняльна типологія першої ІМ та рідної (англійська)</a></li>
                     <li><a href="files/1.6m.pdf">1.6	Література країни другої ІМ (німецька)</a></li>
                     <li><a href="files/1.7m.pdf">1.7	Готська мова</a></li>
                     <li><a href="files/1.8m.pdf">1.8	Практичний курс другої ІМ (німецької)</a></li>
                     <li><a href="files/1.9m.pdf">1.9	Педагогічна практика з другої ІМ</a></li>
                     <li><a href="files/1.10m.pdf">1.10 Науково-дослідна практика на кафедрах у-ту</a></li>
                     <li><a href="files/1.11m.pdf">1.11 Педагогічна практика з осн. ІМ на кафедрах університету </a></li>
                     <li><a href="files/1.12m.pdf">1.12 КР з іноземної філології (друга ІМ)</a></li>
                   </ul>
<p>Спеціальність: 014 Середня освіта (Мова і література (німецька))<br>
Спеціалізація:  014.02 Середня освіта (Мова і література (англійська/французька))
</p>
            <ul>
   		   <li><a href="files/2.1m.pdf">2.1	Порівняльно-історичне і типологічне мовознавство</a></li>
   		   <li><a href="files/2.2m.pdf">2.2	Загальнотеоретичний курс другої ІМ (англійська)</a></li>
   		   <li><a href="files/2.3m.pdf">2.3	Країнознавство країни другої ІМ (англійська)</a></li>
                     <li><a href="files/2.4m.pdf">2.4	Культура усного та писемного мовлення першої ІМ (німецька)</a></li>
                     <li><a href="files/2.5m.pdf">2.5	Порівняльна типологія першої ІМ та рідної (німецька)</a></li>
                     <li><a href="files/2.6m.pdf">2.6	Література країни другої ІМ (англійська)</a></li>
                     <li><a href="files/2.7m.pdf">2.7	Готська мова</a></li>
                     <li><a href="files/2.8m.pdf">2.8	Практичний курс другої ІМ(англійської)</a></li>
                     <li><a href="files/2.9m.pdf">2.9	Педагогічна практика з другої ІМ</a></li>
                     <li><a href="files/2.10m.pdf">2.10 Науково-дослідна практика на кафедрах у-ту </a></li>
                     <li><a href="files/2.11m.pdf">2.11 Педагогічна практика з осн. ІМ на кафедрах університету </a></li>
                     <li><a href="files/2.12m.pdf">2.12 КР з іноземної філології (друга ІМ)</a></li>
                   </ul>
   <br>
            <ul>
   		   <li><a href="files/3.1m.pdf">3.1.Порівняльно-історичне і типологічне мовознавство</a></li>
   		   <li><a href="files/3.2m.pdf">3.2. Загальнотеоретичний курс другої іноземної мови (англійська) </a></li>
   		   <li><a href="files/3.3m.pdf">3.3.Країнознавство країни другої іноземної</a></li>
                     <li><a href="files/3.4m.pdf">3.4. Література країни другої іноземної мови (англійська) </a></li>
                     <li><a href="files/3.5m.pdf">3.5. Готська мова</a></li>
                     <li><a href="files/3.6m.pdf">3.6. Практичний курс другої іноземної мови(англійська) </a></li>
                     <li><a href="files/3.7m.pdf">3.7. Педагогічна практика з другої ІМ </a></li>
                     <li><a href="files/3.8m.pdf">3.8. Курсова робота з іноземної філології (друга ІМ) </a></li>
           </ul>
  <br>
   			
   </div>
</div>
       </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
       <div class="caption">
        <h3>Інформаційний ресурс</h3>
        <div class="row">
   <div class="col-md-12">
   <br>
         
  
   			<div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
     Готська мова
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/hotska.rar">Навчально-методичний посібник</a></li>
   					
   				</ul>
   			</div>
            <br>
   	  <div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
     Загальнотеоретичний курс другої іноземної (англійська)
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/teorkursanhl.rar">Навчально-методичний посібник</a></li>
   					
   				</ul>
   			</div>
   <br>
   	 <div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Загальнотеоретичний курс другої іноземної мови (німецька)
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/teorkursnim.rar">Конспекти лекцій</a></li>
   					
                   </ul>
   			</div>
            <br>
   	  <div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" text-alighn = "left" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
     Країнознавство другої іноземної (англійська)
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/krainanhl.rar">Кіно. Театр</a></li>
   					
   				</ul>
   			</div>
            <br>
   	  <div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Країнознавство другої іноземної (німецька)
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/krainnim.rar">Робоча програма</a></li>
   					
   				</ul>
   			</div>
             <br>
   	  <div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
     Культура усного і писемного мовлення (англійська)
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/kultanhl.rar">Конспект лекцій</a></li>
   					
   				</ul>
   			</div>
            <br>
   	  <div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
     Культура усного і писемного мовлення (німецька)
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/kultnim.rar">Конспект лекцій</a></li>
   					
   				</ul>
   			</div>
            <br>
   	  <div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Література другої іноземної (англійська)
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/litanhl.rar">Педагогічна практика</a></li>
   					
                                           
   				</ul>
   			</div>
             <br>
   	  <div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
     Література другої іноземної (німецька)
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/litnim.rar">Робоча програма</a></li>
   				</ul>
   			</div>
            <br>
   	  <div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Науково-дослідна првктика
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/ndpraktyka.rar">Кіно. Театр</a></li>
                                             
   				</ul>
   			</div>
            <br>
   	  <div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
     Педагогічна практика з другої іноземної
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/praktykadrin.rar">Конспект лекцій</a></li>
                                            
                                    </ul>
   			</div>
            <br>
   	  <div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Педагогічна практика з осн. ІМ на кафедрах університету
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/praktykaosin.rar">Конспект лекцій</a></li>
                                            
                                    </ul>
   			</div>
            <br>
   	  <div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Порівняльна типологія першої ІМ та рідної (англійська)
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/typanhl.rar">Конспект лекцій</a></li>
                                            
                                    </ul>
   			</div>
            <br>
   	  <div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Порівняльна типологія перщої ІМ та рідної (німецька)
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/typnim.rar">Конспект лекцій</a></li>
                                            
                                    </ul>
   			</div>
            <br>
   	  <div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
     Практичний курс другої іноземної (англійська)
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/praktkurs.rar">Конспект лекцій</a></li>
                                            
                                    </ul>
   			</div>
   <br>
      </div>
</div>
       </div>
    </div>
  </div>
            
          <br>
            <br>

  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
       <div class="caption">
        <h3>Магістратура (014 Середня освіта, англійська мова)</h3>
        <div class="row">
   <div class="col-md-12">
   <br>
         <p><strong>Навчальний план</strong></p>
   		<ul>
   			<li><a href="#">the first page</a></li>
   			<li><a href="#">the second page</a></li>
   			<li><a href="#">the third page</a></li>
   		</ul>
   <br>
   	  <p><strong>Oсвітньо-професійний план</strong></p>
   		<ul>
   			<li><a href="#">Освітньо-професійна програма (титульна)</a></li>
   			<li><a href="#">Освітньо-професійна програма (текст)</a></li>
   		</ul>
   <br>
   <p><strong><a href="#">Анотації дисциплін</a></strong></p>
   <br>
   	 <p><strong>Навчально-методичне забезпечення</strong></p>
            <br>
            <br>
   </div>
</div>
       </div>
    </div>
  </div>
            <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
       <div class="caption">
        <h3>Магістратура (014 Середня освіта, німецька мова)</h3>
        <div class="row">
   <div class="col-md-12">
   <br>
         <p><strong>Навчальний план</strong></p>
   		<ul>
   			<li><a href="#">the first page</a></li>
   			<li><a href="#">the second page</a></li>
   			<li><a href="#">the third page</a></li>
   		</ul>
   <br>
   	  <p><strong>Oсвітньо-професійний план</strong></p>
   		<ul>
   			<li><a href="#">Освітньо-професійна програма (титульна)</a></li>
   			<li><a href="#">Освітньо-професійна програма (текст)</a></li>
   		</ul>
   <br>
   <p><strong><a href="#">Анотації дисциплін</a></strong></p>
   <br>
   	 <p><strong>Навчально-методичне забезпечення</strong></p>
            <br>
            <br>
   </div>
</div>
       </div>
    </div>
  </div>
          <br>
            <br>
          <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
       <div class="caption">
        <h3>Магістратура (Переклад)</h3>
        <div class="row">
   <div class="col-md-12">
   <br>
        <p><strong>Навчальний план</strong></p>
   		<ul>
   			<li><a href="images/first.jpg">the first page</a></li>
   			<li><a href="images/second.jpg">the second page</a></li>
   			<li><a href="images/third.jpg">the third page</a></li>
   		</ul>
   <br>
   	  <p><strong>Oсвітньо-професійний план</strong></p>
   		<ul>
   			<li><a href="images/opp.jpg">Освітньо-професійна програма (титульна)</a></li>
   			<li><a href="files/opp.docx">Освітньо-професійна програма (текст)</a></li>
   		</ul>
   <br>
   <p><strong><a href="files/anotazia.docx">Анотації дисциплін</a></strong></p>
   <br>
   	 <p><strong>Навчально-методичне забезпечення</strong></p>
   	 
   			<div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Загальне мовознавство
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/kocherhan.doc">М.П.Кочерган.Загальне мовознавство</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/thema.doc">Теми і завдання для самопідготовки</a></li>
   				</ul>
   			</div>
   	  
   <br>
   	 
   			<div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Інформаційні технології у перекладі
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/piven.doc">Н.М.Півень.Основи машинного перекладу</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/hurevych.pdf">Р.С.Гуревич, М.Ю.Кадемія, Л.С.Шевченко. Інформаційні технології навчання: інноваційний підхід</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/buinytska.pdf">О.П.Буйницька.Інформаційні технології та технічні засоби навчання</a></li>
   				</ul>
   			</div>
   	  
   <br>
   		
   			<div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
       Методика викладання іноземних мов та перекладу у ВНЗ
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/lecture.doc">Лекції</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/karaban.pdf">Карабан В.І.Граматичні труднощі</a></li>
   				</ul>
   			</div>
   		
   <br>
   		
   			<div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Методологія лінгвістичних і перекладознавчих досліджень
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/kyak.pdf">Т.Р.Кияк, А.М.Науменко, О.Д.Огуй. Перекладознавство</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/konversky.pdf">Конверський А.Є. Основи методології та організації наукових досліджень</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/martynuk.pdf">Мартинюк А.П. Основи наукових досліджень у лінгвістиці</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/moseychuk.doc">Мосейчук О.М. Методи проведення лінгвістичних досліджень</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/presention.pptx">Презентація. Методологія лінгвістичного дослідження</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/fedorenko.pdf">Сухорольська С., Федоренко О. Методи лінгвістичних досліджень</a></li>
   				</ul>
   			</div>
   	 
   <br>
   		
   			<div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Основи герменевтики
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/gadamer.pdf">Х.-Г.Гадамер.Истина и метод</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/hermeneutics.pdf">С.Квіт.Герменевтика стилю</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/lyapushkina.doc">Ляпушкина Е.И.Введение в герменевтику</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/osnovu_hermenevtyky.pgf">С.Квіт.Основи герменевтики</a></li>
   				</ul>
   			</div>
   	  
   <br>
        
   			<div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
     Охорона праці в галузі
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/ohorona_pratsi.pdf">Т.Ю.Кепич, І.Ю.Семенова, М.В.Лавренюк. Охорона праці в галузі</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/op_v_haluzi.pdf">Д.В.Зеркалов.Охорона праці в галузі</a></li>
   				</ul>
   			</div>
   	 
   <br>
   	 
   			<div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Педагогіка і психологія
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/kudina.doc">Кудіна В.В., Соловей М.І., Спіцин Є.С. Педагогіка вищої школи</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/ortynsky.pdf">В.Л.Ортинський.Педагогіка вищої школи</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/horodyska.pdf">В.Городиська, М.Пантюк, В.Міляєва. Педагогіка та психологія вищої школи</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/tytarenko.doc">Титаренко.Сучасна психологія особистості</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/nychkalo.doc">Ничкало Н.Г.Сучасна вища школа</a></li>
   				</ul>
   			</div>
   	  
   <br>
       
   			<div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Проблеми міжкультурної комунікації і перекладу
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/denysuk.pdf">С.Г.Денисюк.Комунікологія</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/kovalynska.pdf">І.Ковалинська.Невербальна комунікація</a></li>
     			</ul>
   			</div>
   	  
   <br>
         
   			<div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Риторика
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/kolotilova1.pdf">Н.А.Колотілова.Риторика1</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/kolotilova2.pdf">Н.А.Колотілова.Риторика2</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/mazko.pdf">Л.І.Мацько.Риторика</a></li>
   				</ul>
   			</div>
   	 
   <br>
          
   			<div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Теорія перекладу
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/voronina1.pdf">К.В.Вороніна.Основи перекладацького анатування та реферування</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/rebri.pdf">О.В.Ребрій. Сучасні концепції творчості у перекладі</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/voronina2.pdf">К.В.Вороніна.Ділова кореспонденція та її переклад</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/lytvyn.pdf">І.Литвин Перекладознавство</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/olkhovska.pdf">А.С.Ольховська.Посібник для навчання майбутніх філологів</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/korunez.doc">І.В.Корунець. Теорія і практика перекладу</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/komisarov.doc">В.Н.Комиссаров.Теория перевода</a></li>
   				</ul>
   			</div>
   	  
   <br>
   	  
   			<div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Філософія науки
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/nikiforov.doc">А.Л.Никифоров.Философия науки: история и методология</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/mikeshina.pdf">Л.А.Микешина.Философия науки</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/lebedev.pdf">С.А.Лебедев.Философия науки</a></li>
   				</ul>
   			</div>
   	  
   <br>
   </div>
</div>
       </div>
    </div>
</div>
