<ol class="breadcrumb">
         <li><a href="http://rgf.drohobych.net">Інститут іноземних мов</a></li>
         <li><a href="http://rgf.drohobych.net/content/kaf-germ">Кафедра германських мов і перекладознавства</a></li>
         <li class="active">Електронний навчальний ресурс</li>
      </ol>
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
       <div class="caption">
        <h3>Описи навчальних дисциплін</h3>
        <div class="row">
   <div class="col-md-12">
   <br>
            
        <p><strong>Перший (бакалаврський) рівень вищої освіти</strong></p>
   <br>
   <p><strong><a href="files/perelik_bakalavr.docx">Перелік дисциплін</a></strong></p>
   <br>
   		
            <ul>
                     <li><a href="files/1.1.praktyka_usnoho_pysemnoho_movlenna.pdf">1.1.Практика усного та писемного мовлення</a></li>
   		   <li><a href="files/1.2.fonetyka.pdf">1.2.Практична фонетика</a></li>
   		   <li><a href="files/1.3.hramatyka.pdf">1.3.Практична граматика</a></li>
                     <li><a href="files/1.4.latynska.pdf">1.4.Латинська мова</a></li>
                     <li><a href="files/1.5.antychna.pdf">1.5.Історія зарубіжної літератури (антична література)</a></li>
                     <li><a href="files/2.1.druha_mova.pdf">2.1.Практичний курс другої іноземної мови</a></li>
                     <li><a href="files/2.2.latynska.pdf">2.2.Латинська мова</a></li>
                     <li><a href="files/2.3.antychna.pdf">2.3.Історія зарубіжної літератури (антична література)</a></li>
                     <li><a href="files/3.1.latynska.pdf">3.1.Латинська мова</a></li>
                     <li><a href="files/3.2.antychna.pdf">3.2.Історія зарубіжної літератури (антична література)</a></li>
                     <li><a href="files/4.1.latynska.pdf">4.1.Латинська мова</a></li>
                     <li><a href="files/4.2.antychna.pdf">4.2.Історія зарубіжної літератури (антична література)</a></li>
                     <li><a href="files/5.1.latynska.pdf">5.1.Латинська мова</a></li>
                     <li><a href="files/5.2.antychna.pdf">5.2.Історія зарубіжної літератури (антична література)</a></li>
                     <li><a href="files/6.1.sarubisna.pdf">6.1.Історія зарубіжної літератури</a></li>
                     <li><a href="files/6.2.soziolinhvistyka.pdf">6.2. Соціолінгвістика</a></li>
                     <li><a href="files/7.1.latynska.pdf">7.1.Латинська мова</a></li>
                     <li><a href="files/7.2.antychna.pdf">7.2.Історія зарубіжної літератури (антична література)</a></li>
                     <li><a href="files/8.1.praktyka.pdf">8.1.Практика усного і писемного мовлення(2-й курс)</a></li>
                     <li><a href="files/8.2.fonetyka.pdf">8.2.Практична фонетика</a></li>
                     <li><a href="files/8.3.hramatyka.pdf">8.3.Практична граматика</a></li>
                     <li><a href="files/8.4.teorfonetyka.pdf">8.4.Теоретична фонетика</a></li>
                     <li><a href="files/8.5.teorhramatyka.pdf">8.5.Теоретична граматика</a></li>
                     <li><a href="files/8.6.leksykolohia.pdf">8.6.Лексикологія</a></li>
                     <li><a href="files/8.7.stylistyka.pdf">8.7.Стилістика</a></li>
                     <li><a href="files/8.8.interpretazia.pdf">8.8.Інтерпретація тексту</a></li>
                     <li><a href="files/8.9.romanske.pdf">8.9.Вступ до романського мовознавства</a></li>
                     <li><a href="files/8.10.istoria.pdf">8.10.Історія мови</a></li>
                     <li><a href="files/8.11.krainoznavstvodruhoimovu.pdf">8.11.Країнознавство країни основної іноземної мови</a></li>
                     <li><a href="files/8.12.serednibiku.pdf">8.12.Історія зарубіжної літератури (доба Середньовіччя)</a></li>
                     <li><a href="files/8.13.literaturaxvii.pdf">8.13.Історія зарубіжної літератури (ХІV–ХVII ст.)</a></li>
                     <li><a href="files/8.14.prosvitnyztvo.pdf">8.14.Історія зарубіжної літератури (доба Просвітництва)</a></li>
                     <li><a href="files/8.15.literaturaxix.pdf">8.15.Історія зарубіжної літератури (ХІХ ст.)</a></li>
                     <li><a href="files/8.16.literaturaxx.pdf">8.16.Історія зарубіжної літератури (ХХ ст.)</a></li>
                     <li><a href="files/9.1.druhamova.pdf">9.1.Практичний курс другої іноземної мови (2-й курс)</a></li>
                     <li><a href="files/9.2.romanske.pdf">9.2.Вступ до романського мовознавства</a></li>
                     <li><a href="files/9.3.seredniviku.pdf">9.3.Історія зарубіжної літератури (доба Середньовіччя)</a></li>
                     <li><a href="files/9.4.literaturaxxvii.pdf">9.4.Історія зарубіжної літератури (ХІV–ХVII ст.)</a></li>
                     <li><a href="files/9.5.literaturaprosvutnyztvo.pdf">9.5.Історія зарубіжної літератури (доба Просвітництва)</a></li>
                     <li><a href="files/9.6.literaturexix.pdf">9.6.Історія зарубіжної літератури (ХІХ ст.)</a></li>
                     <li><a href="files/9.7.literaturaxx.pdf">9.7.Історія зарубіжної літератури (ХХ ст.)</a></li>
                     <li><a href="files/10.1.literaturaseredniviku.pdf">10.1. Історія зарубіжної літератури (доба Середньовіччя)</a></li>
                     <li><a href="files/10.2.literaturaxvii.pdf">10.2.Історія зарубіжної літератури (ХІV–ХVII ст.)</a></li>
                     <li><a href="files/10.3.prosvitnyztvo.pdf">10.3.Історія зарубіжної літератури (доба Просвітництва)</a></li>
                     <li><a href="files/10.4.literaturaxix.pdf">10.4.Історія зарубіжної літератури (ХІХ ст.)</a></li>
                     <li><a href="files/10.5.literaturaxx.pdf">10.5.Історія зарубіжної літератури (ХХ ст.)</a></li>
                     <li><a href="files/11.1.seredniviky.pdf">11.1.Історія зарубіжної літератури (доба Середньовіччя)</a></li>
                     <li><a href="files/11.2.literaturaxvii.pdf">11.2.Історія зарубіжної літератури (ХІV–ХVII ст.)</a></li>
                     <li><a href="files/11.3.prosvitnyztvo.pdf">11.3.Історія зарубіжної літератури (доба Просвітництва)</a></li>
                     <li><a href="files/11.4.literaturaxix.pdf">11.4.Історія зарубіжної літератури (ХІХ ст.)</a></li>
                     <li><a href="files/11.5.literaturaxx.pdf">11.5.Історія зарубіжної літератури (ХХ ст.)</a></li>
                     <li><a href="files/12.1.seredniviku.pdf">12.1.Історія зарубіжної літератури (доба Середньовіччя)</a></li>
                     <li><a href="files/12.2.literaturaxvii.pdf">12.2.Історія зарубіжної літератури (ХІV–ХVII ст.)</a></li>
                     <li><a href="files/12.3.prosvutnyztvo.pdf">12.3.Історія зарубіжної літератури (доба Просвітництва)</a></li>
                     <li><a href="files/12.4.literaturaxix.pdf">12.4.Історія зарубіжної літератури (ХІХ ст.)</a></li>
                     <li><a href="files/12.5.literaturaxx.pdf">12.5.Історія зарубіжної літератури (ХХ ст.)</a></li>
                     <li><a href="files/13.1.druhamova.pdf">13.1.Практичний курс другої іноземної мови (2-й курс)</a></li>
                     <li><a href="files/13.3.literaturaxvii.pdf">13.3.Історія зарубіжної літератури (ХІV–ХVII ст.)</a></li>
                     <li><a href="files/13.4.prosvitnyztvo.pdf">13.4.Історія зарубіжної літератури (доба Просвітництва)</a></li>
                     <li><a href="files/13.5.literaturaxix.pdf">13.5.Історія зарубіжної літератури (ХІХ ст.)</a></li>
                     <li><a href="files/13.6.literaturaxx.pdf">13.6.Історія зарубіжної літератури (ХХ ст.)</a></li>
                     
   		</ul>
   <br>
   	  <p><strong>Другий (магістерський) рівень вищої освіти</strong></p>
   	<br>
   <p><strong><a href="files/perelik_mahistr.docx">Перелік дисциплін</a></strong></p>
   <br>	
            <ul>
   		   <li><a href="files/1.1.praktuka.pdf">1.1.Культура усного та писемного мовлення основної іноземної мови</a></li>
   		   <li><a href="files/1.2.typolohia.pdf">1.2.Порівняльна типологія першої іноземної мови та рідної</a></li>
                     <li><a href="files/1.3.teorlit.pdf">1.3.Теорія літератури</a></li>
                     <li><a href="files/1.4.metodyka.pdf">1.4.Методика проведення наукових досліджень</a></li>
                     <li><a href="files/1.5.romanistyka.pdf">1.5.Історія романістики</a></li>
                     <li><a href="files/1.6.linhvodudaktuka.pdf">1.6. Лінгводидактика</a></li>
                     <li><a href="files/1.7.pedpraktyka.pdf">1.7.Педагогічна практика з основної іноземної мови на кафедрах університету</a></li>
                     <li><a href="files/1.8.naukova.pdf">1.8.Науково-дослідницька практика</a></li>
                     <li><a href="files/2.1.druhamova.pdf">2.1.Практичний курс другої іноземної мови</a></li>
                     <li><a href="files/2.2.krainosnavstvo.pdf">2.2.Країнознавство країни другої іноземної мови</a></li>
                     <li><a href="files/2.3.literatura.pdf">2.3.Література країни другої іноземної мови</a></li>
                     <li><a href="files/2.4.teorkurs.pdf">2.4.Загальнотеоретичний курс другої іноземної мови</a></li>
                     <li><a href="files/2.5.teorlit.pdf">2.5.Теорія літератури</a></li>
                     <li><a href="files/2.6.metodyka.pdf">2.6. Методика проведення наукових досліджень</a></li>
                     <li><a href="files/2.7.lingvo.pdf">2.7.Лінгводидактика</a></li>
                     <li><a href="files/2.8.praktuka.pdf">2.8.Педагогічна практика з другої іноземної мови</a></li>
                     <li><a href="files/2.9.naukova.pdf">2.9.Науково-дослідницька практика</a></li>
                     <li><a href="files/3.1.teorialit.pdf">3.1.Теорія літератури</a></li>
                     <li><a href="files/3.2.metodyka.pdf">3.2.Методика проведення наукових досліджень</a></li>
                     <li><a href="files/3.3.linhvo.pdf">3.3.Лінгводидактика</a></li>
                     <li><a href="files/4.1.teorlit.pdf">4.1.Теорія літератури</a></li>
                     <li><a href="files/4.2.metoduka.pdf">4.2.Методика проведення наукових досліджень</a></li>
                     <li><a href="files/4.3.linhvo.pdf">4.3.Лінгводидактика</a></li>
                     <li><a href="files/5.1.teorlit.pdf">5.1.Теорія літератури</a></li>
                     <li><a href="files/5.2.metodyka.pdf">5.2.Методика проведення наукових досліджень</a></li>
                     <li><a href="files/5.3.linhvo.pdf">5.3.Лінгводидактика</a></li>
                   </ul>
  <br>
   			
   </div>
</div>
       </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
       <div class="caption">
        <h3>Інформаційний ресурс</h3>
        <div class="row">
   <div class="col-md-12">
   <br>
         <p><strong>Навчально-методичне забезпечення</strong></p>
   	 <br>
   <p><strong><a href="files/perelik_inforesurs.docx">Перелік дисциплін</a></strong></p>
   <br>
   			<div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Загальнотеоретичний курс другої іноземної мови
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/1.posibnyk.doc">Навчально-методичний посібник</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/1.prohrama.docx">Робоча програма</a></li>
   				</ul>
   			</div>
            <br>
   	  <div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Історія романістики
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/2.posibnyk.doc">Навчально-методичний посібник</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/2.prohrama.docx">Робоча програма</a></li>
   				</ul>
   			</div>
   <br>
   	 <div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Країнознавство країни другої іноземної мови
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/3.konspekt.doc">Конспекти лекцій</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/3.rekkomendazii.doc">Методичні рекомендації для самостійної роботи</a></li>
   				         <li role="presentation"><a role="menuitem" tabindex="-1" href="files/3.prohrama.doc">Робоча програма</a></li>
                   </ul>
   			</div>
            <br>
   	  <div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" text-alighn = "left" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Культура усного та писемного мовлення основної <br> іноземної мови
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/4.kino.doc">Кіно. Театр</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/4.prohrama.doc">Робоча програма</a></li>
                                             <li role="presentation"><a role="menuitem" tabindex="-1" href="files/4.synonimy.doc">Словник синонімів</a></li>
                                             <li role="presentation"><a role="menuitem" tabindex="-1" href="files/4.fraseolohismy.doc">Словник фразеологізмів</a></li>
   				</ul>
   			</div>
            <br>
   	  <div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Лінгводидактика
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/5.prohrama.doc">Робоча програма</a></li>
   					
   				</ul>
   			</div>
             <br>
   	  <div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Література країни другої іноземної мови
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/6.konspekt.doc">Конспект лекцій</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/6.prohrama.doc">Робоча програма</a></li>
   				</ul>
   			</div>
            <br>
   	  <div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Методика проведення наукових досліджень
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/7.konspekt.docx">Конспект лекцій</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/7.rekomendazii.pdf">Методичнi рекомендацii до написання випускових робiт</a></li>
                                             <li role="presentation"><a role="menuitem" tabindex="-1" href="files/7.prohrama.docx">Робоча програма</a></li>
   				</ul>
   			</div>
            <br>
   	  <div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Педагогічна практика
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/8.praktyka.docx">Педагогічна практика</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/8.posaklasna.docx">Позакласна робота з французької мови</a></li>
                                           
   				</ul>
   			</div>
             <br>
   	  <div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Порівняльна типологія
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/9.prohrama.doc">Робоча програма</a></li>
   				</ul>
   			</div>
            <br>
   	  <div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
     Практичний курс другої іноземної мови
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/10.kino.doc">Кіно. Театр</a></li>
                                             <li role="presentation"><a role="menuitem" tabindex="-1" href="files/10.prohrama.doc">Робоча програма</a></li>
                                             <li role="presentation"><a role="menuitem" tabindex="-1" href="files/10.synonimy.doc">Словник синонімів</a></li>
                                             <li role="presentation"><a role="menuitem" tabindex="-1" href="files/10.fraseolohismy.doc">Словник фразеологізмів</a></li>
   				</ul>
   			</div>
            <br>
   	  <div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
     Теорія літератури
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/11.kospekt.docx">Конспект лекцій</a></li>
                                             <li role="presentation"><a role="menuitem" tabindex="-1" href="files/11.materialy.docx">Матеріали до семінарських занять</a></li>
                                             <li role="presentation"><a role="menuitem" tabindex="-1" href="files/11.prohrama.docx">Робоча програма</a></li>
                                    </ul>
   			</div>
   <br>
      </div>
</div>
       </div>
    </div>
  </div>
            
          <br>
<br>
