<div class="row">
   <h3>Про кафедру</h3>
   <p><strong>Рік заснування кафедри:</strong> 1963</p>
   <p><strong>Попередні назви кафедри:</strong></p>
   <ul>
      <li>кафедра англійської мови;</li>
      <li>кафедра англійської філології.</li>
   </ul>
   <p><strong>Попередні завідувачі кафедри:</strong></p>
   <ul>
      <li>Вальдман Олеся Олександрівна - доцент,кандидат філологічних наук;</li>
      <li>Кузик Данило Миколайович - доцент, кандидат філологічних наук;</li>
      <li>Кондратишин Ігор Миронович - доцент, кандидат філологічних наук;</li>
      <li>Яскевич Ольга Клавдіївна - доцент, кандидат філологічних наук;</li>
      <li>Зимомря Микола Іванович – професор,доктор філологічних наук.</li>
   </ul>

   <p>Кафедра є випусковою для напрямів підготовки 6.020303 Філологія* (англійська мова і література), 6.020303 Філологія* (німецька мова і література) першого бакалаврського рівня, 7.02030302 Мова і література (англійська)*, 7.02030302 Мова і література (німецька)*, 7.02030304 Переклад (англійська і німецька мови), 7.02030304 Переклад (англійська і французька мови) освітньо-кваліфікаційний рівень спеціаліста, 8.02030302 Мова і література (англійська)*, 8.02030302 Мова і література (німецька)* другого магістерського рівня.</p>

   <p><strong>Завідувач кафедри:</strong> професор, доктор філологічних наук Бабелюк Оксана Андріївна</p>

   <p><strong>Пріоритетні завдання кафедри:</strong></p>
   <ul>
      <li>підвищувати якість навчання студентів всіх рівнів вищої освіти, забезпечувати студентів фаховою літературою, а також навчальними посібниками, підручниками, робочими програмами, методичними розробками укладеними викладачами кафедри;</li>
      <li>сприяти залученню студентів до наукової роботи кафедри, видавати збірки щорічних студентських наукових конференцій, а також молодих викладачів кафедри до наукових досліджень в рамках кафедральної наукової теми;</li>
      <li>запрошувати фахівців з інших навчальних закладів для участі у науково-методичних семінарах кафедри, як з провідних вишів України так і з ближнього зарубіжжя (Польщі, Австрії, Словаччини);</li>
      <li>сприяти розвитку культури лідерства викладачів кафедри.</li>
   </ul>

   <p><strong>Кафедра забезпечує викладання таких навчальних дисциплін</strong></p>

   <p><strong>Перший (бакалаврський) рівень</strong></p>

   <p>1 курс</p>
   •	Українська література  у світовому контексті
   •	Компютерна обробка текстів
   •	Переклад дiлового мовлення

   <p>2 курс</p>
   •	Вступ до германського мовознавства
   •	Iсторiя перекладу
   •	Вступ до перекладознавства
   •	Практика перекладу  з осн. iн. мови
   •	Основи лексикографiї
   •	Порiвняльна лексикологiя

   <p>3 курс</p>
   •	Iсторiя мови
   •	Контрастивна граматика
   •	Переклад науково-технiчної лiтератури
   •	Практика перекладу з осн.iноземної мови
   •	Теорiя перекладу
   •	Теоретична фонетика
   •	Теорiя i практика перекладу
   •	Iсторiя основної iноземної мови
   •	Лексикологiя
   •	Основи перекладацького скоропису
   •	Практика перекладу  з осн. iн. мови

   <p>4 курс</p>
   •	Країнознавство країн осн.iноз.мови
   •	Стилiстика
   •	Теоретична граматика
   •	Iнтерпретацiя тексту (англійська)
   •	Iнтерпретацiя тексту (нiмецька)

   <p><strong>ОКР «Спеціаліст»</strong></p>

   •	Країнознавство країн другої iноз.мови
   •	Лiтература країн основної iноз. мови
   •	Основи художнього перекладу
   •	Практика перекладу з другої iн. мови
   •	Практика перекладу з осн.iноземної мови
   •	Практика усного i пис. мовлення (англійської фiлологiї)
   •	Практичний курс з осн. iноз. мови
   •	Синхронний переклад
   •	Типологiя української та англ.мов
   •	Типологiя української та нiмецької мов
   •	Українсько-англiйськi лiтературнi взаємини
   •	Основи теорiї мовної комунiкацiї

   <p><strong>Другий (магістерський) рівень</strong></p>

   •	Культура усного та писемного мовлення першої iноземної мови
   •	Порiвняльна типологiя першої IМ та рiдної
   •	Порiвняльно-iсторичне i типологiчне мовознавство
   •	Практичний курс другої iноземної мови
   •	Загальнотеоретичний курс другої iноземної мови (англійська)
   •	Загальнотеоретичний курс другої iноземної мови (німецька)
   •	Країнознавство країни другої iноземної мови
   •	Лiтература країни другої iноземної мови

   <p><strong>Інформаційне забезпечення</strong> другого магістерського рівня вищої освіти, спеціальності 035 Філологія (англійська, українська, переклад)</p>

   <p><strong>Наукова тема кафедри:</strong> «Концепти міжкультурної комунікації: парадигма перекладу та його значення крізь призму мовних і літературних явищ національних культур»</p>

   <p><strong>Термін виконання:</strong> 2014-2018 рр.</p>

   <p><strong>Науковий керівник:</strong> професор, доктор філологічних наук Зимомря Микола Іванович</p>

   <p><strong>Наукові школи:</strong> Наукова школа професора, доктора філологічних наук Зимомрі Миколи Івановича: Переклад і рецепція: контекст взаємодії національних культур.</p>

   <p><strong>На кафедрі є аспірантура зі спеціальностей:</strong></p>
   •	10.02.04 – германські мови.
   •	10.01.06 – теорія літератури;
   •	10.02.15 – загальне мовознавство

   <p><strong>На кафедрі є докторантура зі спеціальності:</strong></p>
   10.02.04 – германські мови.

</div>
