<div class="row">
   <ol class="breadcrumb">
      <li><a href="http://rgf.drohobych.net">Інститут іноземних мов</a></li>
      <li><a href="http://rgf.drohobych.net/content/kaf-germ">Кафедра германських мов і перекладознавства</a></li>
      <li class="active">Склад кафедри</li>
   </ol>
   <div class="panel panel-default" ng-repeat="person in sklad.personnel">
      <div class="panel-heading"><em><strong>{{person.name}}</strong></em></div>
      <div class="panel-body">
         <p><strong>Науковий ступінь, вчене звання:</strong><br> {{person.degree}}</p>
         <p><strong>Обов’язки/Дисципліни, що викладає:</strong></p>
            <ol>
               <li ng-repeat="subject in person.subjects">{{subject}}</li>
            </ol>
         <p><strong>Біографія</strong><br>{{person.biography}}</p>
         <p><strong>Професійний і науковий інтереси:</strong> {{person.interests}}</p>
      </div>
   </div>
