<div class="row">
   <div class="col-md-12">
      <ol class="breadcrumb">
         <li><a href="http://rgf.drohobych.net">Інститут іноземних мов</a></li>
         <li><a href="http://rgf.drohobych.net/content/kaf-germ">Кафедра германських мов і перекладознавства</a></li>
         <li class="active">Студентам</li>
      </ol>
	  <p><strong>Рекомендації щодо написання кваліфікаційної роботи</strong></p>
   		<ul>
   			<li><a href="files/students/vkazivky.pdf">Методичні вказівки щодо виконання кваліфікаційної роботи</a></li>
			<li><a href="files/students/struktura.doc">Структура кваліфікаційної роботи</a></li>
			<li><a href="files/students/vidhuk.docx">Відгук та рецензія на дипломну роботу</a></li>
			<li><a href="files/students/dodatky.docx">Додатки</a></li>
		</ul>
   <br>
   	  <p><strong>Програма підготовки до державного іспиту</a></strong></p>
   		<ul>
   			<li><a href="files/students/spezialist_denna_an.doc">Програма ДЕ для спеціальності 7.02030302 Мова і література (англійська, німецька) - денна форма навчання</a></li>
   			<li><a href="files/students/spezialist_denna_af.doc">Програма ДЕ для спеціальності 7.02030302 Мова і література (англійська, французька) - денна форма навчання</a></li>
			<li><a href="files/students/spezialist_denna_ap.doc">Програма ДЕ для спеціальності 7.02030302 Мова і література (англійська, польська) - денна форма навчання</a></li>
			<li><a href="files/students/specialist_denna_na.doc">Програма ДЕ для спеціальності 7.02030302 Мова і література (німецька, англійська) - денна форма навчання</a></li>
			<li><a href="files/students/spezialist_denna_pereklad.doc">Програма ДЕ для спеціальності 7.02030304 Переклад (англійська та німецька мови) - денна форма навчання</a></li>
			<li><a href="files/students/spezialist_zaochna_a.doc">Програма ДЕ для спеціальності 7.02030302 Мова і література (англійська) - заочна форма навчання</a></li>
   		</ul>
     <br>
   </div>
</div>
